{% extends 'top_bar.html' %}
{% load static %}


{% block content %}
    <div class="cart-view">
        <h1 style="font-size: 30px;">Cart for {{ request.user.username }}</h1>

        {% if request.user.is_authenticated %}
            {% if games_dict %}
                <div id="cart-describe">
                    <div class="cart-describe-item">Delete game</div>
                    <div class="cart-describe-item">Quantity</div>
                    <div class="cart-describe-item">Value</div>
                    <div class="cart-describe-item">Price for one game</div>
                    <div class="cart-describe-title">Title</div>
                </div>
                <div style="clear:both"></div>
                <div id="cart-products-list">
                    {% for game,describe in games_dict.items %}
                        <div class="cart-product">
                            <div class="cart-product-image">
                                <img src={{game.image.url}} alt="{{game.title}}" width="100" height="100">
                            </div>
                            <div class="cart-product-title">
                                {{ game.title }}
                            </div>
                            <div class="cart-item-details">
                                {{ game.price }}
                            </div>
                            <div class="cart-item-details">
                                {{ describe.1 }}
                            </div>
                            <div class="cart-item-details">
                                {{ describe.0 }}
                            </div>
                            <div class="cart-item-details">
                                <a href="{% url 'cart-delete-game' describe.2 %}" class="no_change3">
                                    <i class="fa-solid fa-circle-xmark fa-xl"></i>
                                </a>
                            </div>
                        </div>
                        <div style="clear:both"></div>
                        {% endfor %}
                </div>
                <div style="clear:both"></div>
                <a href="{% url 'place_an_order' %}" class="no_change">
                    <div class="div-button">Place an order</div>
                </a>
            {% else %}
                <img src="/media/website_images/cart_image.jpg" alt="Opis obrazu">
                <p style="font-size: 25px; margin-bottom: 5px;">Your cart is empty.</p>
                <p style="font-size: 17px; margin-top: 0; margin-bottom: 30px;">Add products to it to start placing an order.</p>
                <a class ="button_start_shopping" href ="{% url 'home' %}">Start shopping</a>
            {% endif %}
        {% else %}
            <p>Please log in to view your cart.</p>
        {% endif %}
    </div>
{% endblock content %}