{% extends 'top_bar.html' %}
{% load static %}



{% block content %}
  <main>
    <div class="center-box">
      <h1>Delete {{ object }}</h1>
      <p>Are you sure you want to delete "{{ object }}"?</p>
      <div class="cart-delete-games-buttons-container">
        <div class="cart-delete-games-buttons-left">
          <form method="post" action="">
            {% csrf_token %}
            <input type="submit" value="Delete" class="typical-button" style="height: 43px;">
          </form>
        </div>
        <div class="cart-delete-games-buttons-right">
          <a class="typical-a-button" href="{% url 'cart' %}">Cancel</a>
        </div>
      </div>
    </div>
    <div style="clear:both; margin-bottom: 20px;"></div>
  </main>
{% endblock content %}