{% extends 'top_bar.html' %}
{% load static %}

{% block content %}
    <main>
        <div id="contact-container">
            <div class="contact-subb-c">
                <div class="contact-title">
                    <h2>Customer service office</h2>
                </div>
                <div class="contact-info">
                    <span class="contact-strong">Phone:</span> 123 456 789
                </div>
                <div class="contact-info">
                    <span class="contact-strong">E-mail:</span>  xxx@xxx.xx.com
                </div>
                <div class="contact-info">
                    <span class="contact-strong">Address:</span>  Legendary field 123
                </div>
            </div>
            <div class="contact-subb-c">
                <div class="contact-title">
                    <h2>Fire Company</h2>
                </div>
                <div class="contact-info">
                    <span class="contact-strong">Fire Company z.o.o.</span>
                </div>
                <div class="contact-info">
                    <span class="contact-strong">Company headquarters:</span> Narnia 456 :)
                </div>
                <div class="contact-subb-down">
                    <div class="contact-subb-down-info">
                        <p>NIP:</p><span>123 123 123 123</span>
                    </div>
                    <div class="contact-subb-down-info">
                        <p>KRS:</p><span>123 123 123 123</span>
                    </div>
                    <div class="contact-subb-down-info">
                        <p>REGON:</p><span>123 123 123 123</span>
                    </div>
                    <div class="contact-subb-down-info">
                        <p>Bank Account:</p><span>0000 0000 0000 0001 0000</span>
                    </div>
                    <div class="contact-subb-down-info">
                        <p>Our Bank:</p><span>Good Bank</span>
                    </div>
                </div>
            </div>
            <div style="clear:both"></div>
        </div>

    </main>
{% endblock content %}