{% extends 'top_bar.html' %}
{% load static %}

{% block content %}
    <main>
        <div class="game_content">
            <figure class="game-side-img">
                <img src="{{ game.image.url }}" alt="{{ game.title }}">
            </figure>
            <div class="game-info">
                <div class="game-title">
                    {{ game.title }}
                </div>
                <div class="game-short-describe">
                    Short desrcibe Short desrcibe Short desrcibe Short desrcibe Short desrcibe Short desrcibe Short desrcibe Short desrcibe Short desrcibe Short desrcibe Short desrcibe Short desrcibe.
                </div>

                <div class="game-info-left">
                    <div class="game-info-left-top">
                        <h1>{{ game.price }}$</h1><h2> per item</h2>
                    </div>
                    <div style="clear:both"></div>
                    <div class="game-info-left-bottom">
                        {% if game.stock != 0 %}
                            {% if in_cart %}
                                <form method="post" action="">
                                    {% csrf_token %}
                                    <input type="hidden" name="game_id" value="{{ game.id }}">
                                    <button type="submit" class="in-cart"><i class="fa-solid fa-check" style="padding-right: 4px;"></i>Currently in the cart</button>
                                </form>
                            {% else %}
                                <form method="post" action="">
                                    {% csrf_token %}
                                    <input type="hidden" name="game_id" value="{{ game.id }}">
                                    <button type="submit" class="typical-button">Add to Cart</button>
                                </form>
                            {% endif %}
                        {% else %}
                            <span class="typical-button">Notify me when available</span>
                        {% endif %}
                    </div>
                </div>
                <div class="game-info-right">
                    <div class="game-info-right-top">
                        {% if game.stock != 0 %}
                            <span class="game-stock"> {{ game.stock }} copies in stock</span>
                            <i class="fa-solid fa-truck fa-2xl"></i>
                            <span style="padding-left: 3px;"> Delivery within 7 days. Shipping 24/7.</span>
                        {% else %}
                            <span class="game-out-of-stock">Out of stock</span>
                        {% endif %}
                    </div>
                    <div class="game-info-right-bottom">
                        aaa
                    </div>
                </div>

            </div>
        </div>
        <div style="clear:both"></div>
        <div class="game-describe">
            {{ game.description|linebreaks }}
        </div>
    </main>
{% endblock content %}