
<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Fire - Board games</title>
    <meta name="description" content="Explore a diverse collection of board games at our online store. Find exciting and engaging games for all ages. Enjoy hours of fun with family and friends. Shop now for the best board game experience!">

    {% block head %}
    {% endblock head %}

</head>
<body>
    <div id="container">
        <header>
            <div id='top_nav_bar'>
                <div id="logo">
                    <h1>Fire - Board Games</h1>
                </div>

                <div id="search_bar">
                    <span>a</span>
                </div>

                <div id="top_nav_bar_menu">
                    <div id="login">
                        <span>Login</span>
                    </div>
                    <div id="cart">
                        <span>Cart</span>
                    </div>
                </div>
                <div style="clear:both"></div>
                <nav>
                    <ul class="menu">
                        <li><a href ="#">Card games</a></li>
                        <li><a href ="#">Battle games</a></li>
                        <li><a href ="#">Board games</a></li>
                        <li><a href ="#">Contact</a></li>
                    </ul>
                </nav>
            </div>

            <nav>
                <div id="bottom_nav_bar">

                </div>
            </nav>
        </header>

        {% block content %}
        {% endblock content %}

        <footer>
            <div id="footer_container_main">
                <div id="footer_links">
                    <ul id="list_account">
                        <li><h2>Account</h2></li>
                        <li>My_account</li>
                        <li>Cart</li>
                        <li>History of transaction</li>
                    </ul>
                    <ul id="list_informations">
                        <li><h2>Informations</h2></li>
                        <li>About Our Shop</li>
                        <li>Privacy</li>
                        <li>Contact us</li>
                        <li>Terms and Condition</li>
                    </ul>
                    <ul id="list_products">
                        <li><h2>Products</h2></li>
                        <li>Prices drop</li>
                        <li>New products</li>
                        <li>Best sales</li>
                    </ul>
                </div>
                <div style="clear:both"></div>
                <div style="information">
                    <p>&copy; 2023 My Company. All rights reserved.</p>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>