
<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/members_style.css' %}">
    <title>Fire - Board games</title>
    <meta name="description" content="Explore a diverse collection of board games at our online store. Find exciting and engaging games for all ages. Enjoy hours of fun with family and friends. Shop now for the best board game experience!">

    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">

    {% block head %}
    {% endblock head %}

</head>
<body>
    <div id="container">
        <header>
            <div id='top_nav_bar'>
                <div id="logo">
                    <a class='no_change' href="{% url 'home' %}"><h1><i class="fa-solid fa-fire fa-xl"></i> Fire - Board Games </h1></a>
                </div>

                <div id="search_bar">
                    <form action="{% url 'search_game' %}" method="post">
                        {% csrf_token %}
                        <input type="text" name="find_game" placeholder="Search game">
                        <button type="submit">Search</button>
                    </form>
                </div>

                <div id="top_nav_bar_menu">
                    <div id="login">
                        {% if request.user.is_authenticated %}
                            <a class="no_change3" href="{% url 'account' %}">
                                <i class="fa-regular fa-user fa-2xl"></i>
                            </a>
                        {% else %}
                        <div id="login_no_auth">
                            <a class='no_change3' href="{% url 'login' %}">Login in</a>
                        </div>
                        {% endif %}
                    </div>
                    <div id="cart">
                        <div id="cart-overlay">
                            <a class="no_change3" href="{% url 'cart' %}">
                                <i class="fa-solid fa-cart-shopping fa-2xl"></i>
                            </a>
                            {% if cart_item_count %}
                                <a href="{% url 'cart' %}" id="cart-circle">
                                    <span id="cart-circle-text">{{cart_item_count}}</span>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div style="clear:both"></div>
                <nav>
                    <div id="top_bar_nav">
                        <ul class="top_bar_menu">
                            <li><a href ="#">Card games</a>
                                <ol>
                                    <li><a href ="{% url 'category' category_name='Flesh-and-blood' %}">Flesh and blood</a></li>
                                    <li><a href ="{% url 'category' category_name='Magic-the-gathering' %}">Magic the gathering</a></li>
                                    <li><a href ="{% url 'category' category_name='Pokemon' %}">Pokemon</a></li>
                                </ol>
                            </li>
                            <li><a href ="#">Battle games</a>
                                <ol>
                                    <li><a href ="{% url 'category' category_name='Warhammer' %}">Warhammer</a></li>
                                    <li><a href ="{% url 'category' category_name='Blood-Bowl' %}">Blood Bowl</a></li>
                                    <li><a href ="{% url 'category' category_name='Warcry' %}">Warcry</a></li>
                                </ol>
                            </li>
                            <li><a href ="#">Board games</a>
                                <ol>
                                    <li><a href ="{% url 'category' category_name='Strategy' %}">Strategy</a></li>
                                    <li><a href ="{% url 'category' category_name='Party' %}">Party</a></li>
                                    <li><a href ="{% url 'category' category_name='Adventure' %}">Adventure</a></li>
                                </ol>
                            </li>
                            <li><a href ="#">Contact</a></li>
                        </ul>
                    </div>
                </nav>
            </div>

            <nav>
                <div id="bottom_nav_bar">

                </div>
            </nav>
        </header>

        {% block content %}
        {% endblock content %}

        <footer>
            <div id="footer_container_main">
                <div id="footer_links">
                    <ul id="list_account">
                        <li><h2>Account</h2></li>
                        <li><i class="fa-solid fa-arrow-right"></i> My_account</li>
                        <li><i class="fa-solid fa-arrow-right"></i> Cart</li>
                        <li><i class="fa-solid fa-arrow-right"></i> History of transaction</li>
                    </ul>
                    <ul id="list_informations">
                        <li><h2>Informations</h2></li>
                        <li><i class="fa-solid fa-arrow-right"></i> About our shop</li>
                        <li><i class="fa-solid fa-arrow-right"></i> Privacy</li>
                        <li><i class="fa-solid fa-arrow-right"></i> Contact us</li>
                        <li><i class="fa-solid fa-arrow-right"></i> Terms and Condition</li>
                    </ul>
                    <ul id="list_products">
                        <li><h2>Products</h2></li>
                        <li><i class="fa-solid fa-arrow-right"></i> Prices drop</li>
                        <li><i class="fa-solid fa-arrow-right"></i> New products</li>
                        <li><i class="fa-solid fa-arrow-right"></i> Best sales</li>
                    </ul>
                </div>
                <div style="clear:both"></div>
                <div style="information">
                    <p>&copy; 2023 My Company. All rights reserved.</p>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>