body {
    background-color: #2F3336;
    margin: 0px;
    color: #efefef;
}
#container {
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

#top_nav_bar {
    margin-bottom: 0px;
}

#logo {
    float: left;
    padding-right: 20px;
    width: 530px;
    height: 113.6px;
}

#logo h1{
    font-size: 40px;
    letter-spacing: 5px;
}
#logo h1:hover{
    color: #ff0000;
}

#search_bar{
    float: left;
    width: 510px;
    text-align: center;
    line-height: 100px;
    padding-right: 40px;
    height: 113.6px;
}
#top_nav_bar_menu {
    float: left;
    text-align: center;
    width: 300px;
    line-height: 100px;
}
#login {
    float: left;
    width: 150px;
    height: 100px;
    padding-top: 13.6px;
}
#login_no_auth {
    font-size: 28px;
}
#cart {
    float: left;
    width: 130px;
    padding-right: 20px;
    height: 100px;
    padding-top: 13.6px;
}


nav
{
    background-color: #1c74b2;
    text-align: center;
}

.menu {
    list-style-type: none;
    padding: 5px;
    font-size: 24px;
    min-height: 40px;
    margin-top: 0px;
}

.menu > li {
    display: inline-block;
    line-height: 200%;
    padding-left: 20px;
    padding-right: 20px;
    border-right: 1px solid #0a2b42;
}

.menu > li:first-child {
    border-left: 1px solid #0a2b42;
}

.menu a {
    color: #efefef;
    text-decoration: none;
}

.menu a:hover {
    color: #0a2b42;
}

.game-container {
    text-align: center;
    margin: 0px 12.5px 20px 12.5px;
    float: left;
    width: 300px;
    padding-left: 12.5px;
    padding-right: 12.5px;
}

.game-container img {
    max-width: 100%;
    max-height: 100%;
}

.game-container h2 {
    margin: 0px;
}
.game-container span {
    margin: 0px;
}

#footer_container_main {
    text-align: center;
    background-color: black;
}
#list_account {
    text-align: left;
    float: left;
    width: 200px;
    margin-top: 2px;
}
#list_informations {
    text-align: left;
    float: left;
    width: 200px;
    margin-top: 2px;
}
#list_products {
    text-align: left;
    float: left;
    width: 200px;
    margin-top: 2px;
}

#footer_links ul {
    list-style: none;
    padding: 4px;
    margin: 0px 0px 0px 30px;
}
#footer_links li {
    margin: 0px 0px 10px 5px;
    font-size: 15px;
}

#footer_links h2 {
    margin-bottom: 15px;
    font-size: 25px;
}

#footer_links li:hover {
    color: #0a2b42;
    cursor: pointer;
}

#footer_links h2:hover {
    color: #efefef;
    cursor: default;
}



