body {
    background-color: #2F3336;
    margin: 0px;
    color: #efefef;
}
#container {
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

#top_nav_bar {
    margin-bottom: 0px;
}

#logo {
    float: left;
    padding-right: 20px;
    width: 530px;
    height: 113.6px;
}

#logo h1{
    font-size: 40px;
    letter-spacing: 5px;
}
#logo h1:hover{
    color: #ff0000;
}

#search_bar{
    float: left;
    width: 510px;
    text-align: center;
    line-height: 100px;
    padding-right: 40px;
    height: 113.6px;
}
#top_nav_bar_menu {
    float: left;
    text-align: center;
    width: 300px;
    line-height: 100px;
}
#login {
    float: left;
    width: 150px;
    height: 100px;
    padding-top: 13.6px;
}

#login_no_auth {
    font-size: 28px;
}
#cart {
    float: left;
    width: 130px;
    padding-right: 20px;
    height: 100px;
    padding-top: 13.6px;
}

.game-container {
    text-align: center;
    margin: 0px 12.5px 20px 12.5px;
    float: left;
    width: 300px;
    padding-left: 12.5px;
    padding-right: 12.5px;
}

.game-container img {
    max-width: 100%;
    max-height: 100%;
}

.game-container h2 {
    margin: 0px;
}
.game-container span {
    margin: 0px;
}

#footer_container_main {
    text-align: center;
    background-color: black;
}
#list_account {
    text-align: left;
    float: left;
    width: 200px;
    margin-top: 2px;
}
#list_informations {
    text-align: left;
    float: left;
    width: 200px;
    margin-top: 2px;
}
#list_products {
    text-align: left;
    float: left;
    width: 200px;
    margin-top: 2px;
}

#footer_links ul {
    list-style: none;
    padding: 4px;
    margin: 0px 0px 0px 30px;
}
#footer_links li {
    margin: 0px 0px 10px 5px;
    font-size: 15px;
}

#footer_links h2 {
    margin-bottom: 15px;
    font-size: 25px;
}

#footer_links a:hover {
    color: #0a2b42;
    cursor: pointer;
}

#footer_links h2:hover {
    color: #efefef;
    cursor: default;
}

.no_change {
    text-decoration: none;
    color: #efefef;
}
.no_change3 {
    text-decoration: none;
    color: #efefef;
}
.no_change3:hover {
    color: #379ae1;
}

ul > li > ol {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    height: 40px;
    display: none;
}
ul > li > ol > li {
    background-color: #1f81c7;
    position: relative;
    z-index: 100;
    border-top: 1px solid #0a2b42;
}

ul > li:hover > ol {
    display: block;
}

#top_bar_nav {
    padding: 10px 0px;
    background-color: #1c74b2;
    text-align: center;
    border: 1px solid #18649a;
    margin-bottom: 20px;
}

.top_bar_menu {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    font-size: 24px;
    height: 45px;
    line-height: 200%;
    display: inline-block;
}
.top_bar_menu a {
    color: #efefef;
    text-decoration: none;
    display: block;
}
.top_bar_menu > li {
    float: left;
    width: 250px;
    height: 45px;
    border-right: 1px solid #0a2b42
}
.top_bar_menu > li:first-child {
    border-left: 1px solid #0a2b42;
}
.top_bar_menu a:hover {
    color: #0a2b42;
    background-color: #1f81c7;
}

.cart-view {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 30px;
}


.game-side-img {
    text-align: center;
    margin: 20px 0px 20px 0px;
    float: left;
    width: 300px;
    padding-left: 50px;
    padding-right: 50px;
}
.game-info {
    float: left;
    width: 950px;
    text-align: center;
    margin-top: 20px;
    padding-right: 50px;
}
.game-title {
    font-size: 30px;
    color: #99ddff;
    padding-bottom: 15px;
}
.game-short-describe {
    padding-bottom: 10px;
}

.game-info-left {
    float: left;
    width: 299px;
    padding-left: 12.5px;
    padding-right: 12.5px;
    margin-bottom: 0px;
    border-right: 1px solid #99ddff;
}
.game-info-left-top > h1 {
    text-align: right;
    font-size: 30px;
    width: 180px;
    float: left;
    margin-right: 0;
}
.game-info-left-top > h2 {
    text-align: left;
    font-size: 15px;
    width: 116px;
    float: left;
    margin-left: 0;
    padding-left: 3px;
    line-height: 400%;
}
.typical-button {
    padding: 10px 20px;
    background-color: #1c74b2;
    border: 1px solid #18649a;
    border-radius: 5px;
    font-size: 18px;
    margin-left: 20px;
    transition: background-color 0.3s ease;
    letter-spacing: 1px;
    color: #efefef;
}
.typical-button:hover {
    cursor: pointer;
    color: #efefef;
    background-color: #1f81c7;
}
.in-cart {
    padding: 10px 20px;
    background-color: #009933;
    border: 1px solid #00802b;
    border-radius: 5px;
    font-size: 18px;
    margin-left: 20px;
    transition: background-color 0.3s ease;
    letter-spacing: 1px;
    color: #efefef;
}
.in-cart:hover {
    cursor: pointer;
    color: #efefef;
    background-color: #00b33c;
}
.game-info-right {
    float: left;
    width: 600px;
    padding-left: 12.5px;
    padding-right: 12.5px;
    padding-top: 30px;
}

.game-stock {
    padding: 10px 20px;
    background-color: #009933;
    border: 1px solid #00802b;
    font-size: 18px;
    margin-right: 5px;
}
.game-stock:hover {
    cursor: default;
}
.game-info-right-bottom {
    padding-top: 20px;
    text-align: justify;
    padding-left: 20px;
}

.game-out-of-stock {
    padding: 10px 20px;
    background-color: #ff1a1a;
    border: 1px solid #ff0000;
    border-radius: 5px;
    font-size: 18px;
    margin-right: 5px;
}

.not-found {
    text-align: center;
    padding-bottom: 35px;
    margin-top: 0px;
}
.not-found h1 {
    font-size: 35px;
    margin-bottom: 5px;
    padding-bottom: 10px;
}
.not-found h2 {
    font-size: 22px;
    padding-bottom: 5px;
    margin: 0px;
}

#cart-overlay {
    position: relative;
    width: 130px;
    height: 100px;
}

#cart-overlay #cart-circle {
    line-height: 28px;
    position: absolute;
    display: block;
    background-color: #00b33c;
    color: #efefef;
    right: 20px;
    top: 15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-decoration: none;
    font-size: 20px;
    border: 1px solid #00802b;
}

#cart-overlay #cart-circle:hover {
    cursor: pointer;
    background-color: #00b33c;
}

#cart-products-list {
    width: 980px;
    margin-left: auto;
    margin-right: auto;
}
#cart-describe {
    border-bottom: 1px solid #1c74b2;
    padding-bottom: 5px;
    height: 40px;
    margin-top: 20px;
    width: 980px;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
}
.cart-product {
    text-align: center;
    height: 100px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 20px;
    border-bottom: 1px solid #1c74b2;
}
.cart-product-image {
    width: 100px;
    padding: 0 50px;
    float: left;
}
.cart-product-title {
    width: 280px;
    padding: 0 10px;
    height: 100px;
    float: left;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.cart-item-details {
    width: 100px;
    padding: 0 10px;
    height: 100px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart-describe-title {
    height: 40px;
    float: right;
    width: 280px;
    padding: 0 10px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.cart-describe-item {
    height: 40px;
    width: 100px;
    padding: 0 10px;
    float: right;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.div-button {
    padding: 10px 20px;
    background-color: #1c74b2;
    border: 1px solid #18649a;
    border-radius: 5px;
    font-size: 18px;
    margin-left: 20px;
    transition: background-color 0.3s ease;
    letter-spacing: 1px;
    color: #efefef;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    letter-spacing: 1px;
}
.div-button:hover {
    cursor: pointer;
    color: #efefef;
    background-color: #1f81c7;
}
.center-box {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.cart-delete-games-buttons-container {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}
.cart-delete-games-buttons-left {
    float: left;
    width: 140px;
    padding: 0px 5px;
    display: flex;
    justify-content: center;
}
.cart-delete-games-buttons-right {
    float: left;
    width: 140px;
    padding: 0px 5px;
    display: flex;
    justify-content: center;
}

.typical-a-button {
    padding: 10px 20px;
    background-color: #1c74b2;
    border: 1px solid #18649a;
    border-radius: 5px;
    font-size: 18px;
    margin-left: 20px;
    transition: background-color 0.3s ease;
    letter-spacing: 1px;
    color: #efefef;
    text-decoration: none;
}
.typical-a-button:hover {
    cursor: pointer;
    color: #efefef;
    background-color: #1f81c7;
}

#contact-container{
    padding-top: 20px;
    padding-bottom: 30px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.contact-subb-c{
    width: 600px;
    float: left;
}
.contact-title{
    text-align: center;
}
.contact-info{
    font-size: 17px;
    padding-bottom: 2px;
}
.contact-strong{
    font-weight: bold;
}
.contact-subb-down{
    margin-top: 10px;
}

.contact-subb-down-info > p {
    width: 40%;
    float: left;
    margin: 0px;
    padding-bottom: 4px;
}
.contact-subb-down-info > span {
    width: 60%;
    float: left;
    margin: 0px;
    padding-bottom: 4px;
}