{% extends 'top_bar.html' %}
{% load static %}

{% block content %}
    <main>
        <div class="form_page_container">
            <div class="form_page_title">
                Register your account
            </div>
            <form method="POST" action="">
                {% csrf_token %}
                <div class="form_field_container">
                    <div class='form_field_label'>{{form.username.label}}</div>
                    <div class='form_field'>{{form.username}}</div>
                </div>

                <div class="form_field_container">
                    <div class='form_field_label'>{{form.email.label}}</div>
                    <div class='form_field'>{{form.email}}</div>
                </div>

                <div class="form_field_container">
                    <div class='form_field_label'>{{form.first_name.label}}</div>
                    <div class='form_field'>{{form.first_name}}</div>
                </div>

                <div class="form_field_container">
                    <div class='form_field_label'>{{form.last_name.label}}</div>
                    <div class='form_field'>{{form.last_name}}</div>
                </div>

                <div class="form_field_container">
                    <div class='form_field_label'>{{form.password1.label}}</div>
                    <div class='form_field'>{{form.password1}}</div>
                </div>

                <div class="form_field_container">
                    <div class='form_field_label'>{{form.password2.label}}</div>
                    <div class='form_field'>{{form.password2}}</div>
                </div>

                <div style="clear:both"></div>
                <div class="log-button-submit">
                    <input class="typical-button" style="margin: 0;" type="submit" name="Create_user" value="Register account">
                </div>
                <div id="register_sign_in">
                    Already have an account? <a href="{% url 'login' %}" style="text-decoration: none;"><span style="color:#1f81c7">Log in.</span></a>
                </div>
            </form>

        </div>
        {{form.errors}}

    </main>
{% endblock content %}